APP_NAME=PulseLocal ML Service
APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8001
LOG_LEVEL=debug

MOCK_PREDICTION_ENABLED=true
MODEL_PATH=./app/models/pulselocal_logistic_regression_model.joblib

RISK_LOW_MAX=0.39
RISK_MEDIUM_MAX=0.69
RISK_HIGH_MIN=0.70
